name: Nix Flake Check

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Nix version
        run: nix --version

      - name: Flake metadata
        run: nix flake metadata

      - name: Run nix flake check
        run: nix flake check --show-trace
